* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body {
     font-family: "Ubuntu", sans-serif;
}

.header {
     background-color: black;
     color: #fff;
}

.row {
     display: table;
     width: 100%;
     clear: both;
}

.center{
     text-align: center;
     text-decoration: ;
     background-color: slategray;
     width: auto;
     height: auto;
}

.contact2{
      font-size: 20px;
text-decoration-color: blueviolet;
}

.head{
     text-align: center;
     text-decoration: dotted;
}

.center2{
     text-align: center;
     text-decoration: ;
     background-color: slategray;
     width: auto;
     height: auto;
}

a:link,
a:visited {
     text-decoration: none;
}

.text-right {
     text-align: right;
}

[class^="col-"] {
     float: left;
     padding: 0 15px;
}

.col-3 {
     width: calc((100% * 3) / 12);
}

.col-9 {
     width: calc((100% * 9) / 12);
}

.logo {
     padding: 15px 15px;
     display: inline-block;
}

.navbar ul li {
     display: inline-block;
     list-style: none;
}

.navbar ul {
     display: inline-block;
}

.navbar ul li a:link,
.navbar ul li a:visited {
     color: #fff;
     text-transform: capitalize;
     font-size: 18px;
     padding: 15px 15px;
     height: 74px;
     line-height: 44px;
     display: inline-block;
     position: relative;
     transition: all 0.4s linear;
}

.navbar ul li a::before {
     content: "";
     width: 0%;
     background-color: orange;
     height: 4px;
     bottom: 0;
     left: 0;
     position: absolute;
     transition: all 0.4s linear;
     display: inline-block;
}

.navbar ul li a:hover::before,
.navbar ul li a:active::before,
.navbar ul li a:focus::before,
.navbar ul li.active a::before {
     width: 100%;
}

.toggleBtn {
     color: azure;
     float: right;
     height: 74px;
     line-height: 74px;
     cursor: pointer;
     display: none;
}

@media all and (max-width: 600px) {
     .col-3,
     .col-9 {
          width: 100%;
     }
     .navbar {
          display: none;
     }
     .active {
          display: block;
     }
     .toggleBtn {
          display: inline-block;
     }
     .navbar ul li {
          display: block;
     }
     .text-right {
          text-align: left;
     }
}